.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.row1about {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.row2about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.row3about {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
