.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.main-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.utility-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}










